* {
    margin: 0;
    padding: 0;
} 


.image img {
    width: 250px;
    height: 300px;
}

body {
    background-color: blue;
}

.container {
    border: 1px black solid;
    background-color: white;
    width: 60;
    height: 50%;
}
















































/* body {
   background-color: blue;
    display: flex;
    justify-items: center;
    align-items: center;
}

.container {
    height: 60%;
    width: 50%;
    background-color: red;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
}

img {
    height: 300px;
    width: 250px;
}

.image img {
    height: 80%; */
    width: 95%;
} 

